<div *ngFor="let holding of appService.holdings | async; let i = index;" class="holdings form-horizontal">
    <div class="col-md-4 holding">
        <div class="row">
            <div class="col-md-12">
                <label for="target-{{i}}">Crypto:</label>
                <select class="form-control" id="target-{{i}}" [(ngModel)]="holding.base" (change)="onChange.next(i)">
                    <option  *ngFor="let currency of appService.currencies | async" [value]="currency.code">{{currency.name}} ({{currency.code.toUpperCase()}})</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="amount-{{i}}">Amount:</label>
                <input id="amount-{{i}}" type="number" min="0" max="99999" [(ngModel)]="holding.quantity" class="form-control" (ngModelChange)="onChange.next(i)">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="value-{{i}}">Value:</label>
                <input id="value-{{i}}" type="text" tabindex="-1" value="{{holding.displayValue}}" class="form-control" readonly>
            </div>
        </div>
    </div>
</div>